---
import type { Publication } from "../content/publication";

const { publication } = Astro.props as {publication: Publication};
---
<div class="container">
  <img src={publication.imgPath} />
  <div class="right">
    {publication.mainLink ? 
    <a class="title" href={publication.mainLink} target="_blank">{publication.title}</a>
    :
    <p class="title">{publication.title}</p>
    }
    <p>{publication.authors.map((a, idx) => <span class={a === 'Heechan Lee' ? 'me' : ''}>{a + ((idx === publication.authors.length - 1) ? '' : ', ')}</span>)}</p>
    <p class="conference">{publication.conference}</p>
  </div>
</div>

<style>
  p {
    all: unset;
  }
  div.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
  div.right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
  }
  p.title {
    font-size: 14px;
    font-weight: 600;
  }
  a.title {
    all: unset;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
  }
  span {
    font-size: 12px;
  }
  span.me {
    font-weight: 600;
  }
  p.conference {
    font-size: 12px;
  }
  img {
    width: 200px;
    height: auto;
    margin: 0;
    flex-shrink: 0;
  }

  @media (max-width: 768px) {
    div.container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
    }
    img {
      width: 100%;
      height: auto;
      margin: 0;
      flex-shrink: 0;
    }
  }
</style>